<div class="section">
	<div class="container">
	<div class="row">
        <h1 class="page-header">Busco...algo!</h1>
        <h5> No te desesperes! Usa los filtros de abajo para especificar que buscas.</h5>
      </div>
      <br>
		<div class="row">
			<div class="col-md-10 center-block" style="float:none;">
				<form class="form-inline">
					<div class="row">
						<div class="form-group" style="float:none;">
							<label for="situacion" class="control-label">Situación</label>
							<!--<div class="col-sm-10"> -->
								<select class="form-control" id="situacion">
									<option>Encontrados</option>
									<option>Perdido</option>
									<option>Riesgo</option>
								</select>
							<!--</div>-->
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Listo!</button>
							
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-2" style="float:none;">
							<label for="animal" class="control-label">Animal</label>
							<!--<div class="col-sm-1">-->
								<select class="form-control" id="animal">
									<option>---</option>
									<option>Perro</option>
									<option>Gato</option>
								</select>
							<!--</div>-->
						</div>

						<div class="form-group col-md-2" style="float:none;">
							<label for="raza" class="control-label" style="margin-left:10px;">Raza</label>
							<select class="form-control" id="raza">
									<option>---</option>
									<option>Chihuahua</option>
									<option>Pitbull</option>
								</select>
						</div>

						<div class="form-group col-md-2" style="float:none;">
							<label for="sexo" class="control-label" style="margin-left:5px;">Sexo</label>
							<select class="form-control" id="sexo">
									<option>---</option>
									<option>Hembra</option>
									<option>Macho</option>
								</select>
						</div>

						<div class="form-group col-md-2" style="float:none;">
							<label for="comuna" class="control-label" style="margin-left:5px;">Comuna</label>
							<select class="form-control" id="comuna">
									<option>---</option>
									<option>Maipu</option>
									<option>Pudahuel</option>
								</select>
						</div>


						<div class="form-group col-md-2" style="float:none;">
							<label for="fecha" class="control-label">Fecha</label>
							
								<input type="date" class="form-control" id="fecha">
							
						</div>


					</div>
				</form>
			</div>
		</div>
	</div>

</div>





<div class="section">
	<div class="container">
		<form class="form">

			<div class="row">
				<div class="col-md-8 center-block" style="float:none;">
					<label class="control-label" for="lero">Lero</label>
					<select class="form-control" id="lero">
						<option>hola</option>
					</select>
				</div>
			</div>

			<div class="row">
			<div class="form-inline">
				<div class="form-group col-md-2"  style="float:none;">
					<label class="control-label" for="w">Lero</label>
					<select class="form-control" id="w">
						<option>hola</option>
					</select>
				</div>

				<div class="form-group col-md-2"  style="float:none;">
					<label class="control-label" for="e">Lero</label>
					<select class="form-control" id="e">
						<option>hola</option>
					</select>
				</div>

				<div class="form-group col-md-2"  style="float:none;">
					<label class="control-label" for="e">Lero</label>
					<select class="form-control" id="e">
						<option>hola</option>
					</select>
				</div>

				<div class="form-group col-md-2"  style="float:none;">
					<label class="control-label" for="e">Lero</label>
					<select class="form-control" id="e">
						<option>hola</option>
					</select>
				</div>

				<div class="form-group col-md-2"  style="float:none;" >
					<label class="control-label" for="e">Lero</label>
					<select class="form-control" id="e">
						<option>hola</option>
					</select>
				</div>
			</div>

</div>



		</form>	
	</div>
</div>