<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "info" %>
<% end %>

<div class="container-fluid" style="padding-left:0px;">
<div class="col-md-2" style="padding-left:0px;">
	

<div class="row">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color:black;"></span>
        <span class="icon-bar" style="background-color:black;"></span>
        <span class="icon-bar" style="background-color:black;"></span>
</button>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2"  style="padding-left:0px;">
    <ul class="nav nav-pills nav-stacked panel panel-default">
  <li role="presentation" class="active"><a href="#">Tenencia Responsable</a></li>
  <li role="presentation"><a href="#">Link2</a></li>
  <li role="presentation"><a href="#">Link3</a></li>
  <li role="presentation"><a href="#">Link4</a></li>
  <li role="presentation"><a href="#">Link5</a></li>

</ul>
</div>

</div>
<div class="col-md-10 panel panel-default">
	<h1 class="page-header"> Tenencia Responsable</h1>
	<p>
		La tenencia responsable es el conjunto de obligaciones que adquiere una persona o familia cuando decide adoptar una mascota. Su objetivo es asegurar la buena convivencia y el bienestar de los animales y las personas que viven junto a ellos. 
Los principales aspectos ligados a la tenencia responsable son los cuidados veterinarios, el ambiente adecuado y el control de la reproducción. </p>

<p>
Vacunación:
La vacunación es un proceso realizado por un médico veterinario y que tiene por objeto proteger a nuestros perros y gatos de enfermedades potencialmente mortales. El protocolo de vacunación debe comenzar a los 2 meses de vida y ser repetido una vez cada año. 
Perros: Séxtuple + Antirrábica. Gatos: Triple felina + Leucemia felina + Antirrábica.
</p>
<p>
Desde hace más de 12.000 años que se comenzó a escribir nuestra historia de convivencia con los perros. Un poco menos -alrededor de 8.000 años- en el caso de los gatos. Durante todo este tiempo, el vínculo hombre-animal no ha hecho más que estrecharse, llegando a ser considerados en la actualidad, como parte integral de nuestra familia: nuestros hermanos menores.</p>
<p>
Desgraciadamente, producto en parte de la falta de conocimiento en torno a cómo mantener una buena convivencia con nuestros perros y gatos, es que muchos de ellos terminan siendo sometidos a vidas llenas de miseria y sufrimiento: encadenados, alimentados con sobras, recibiendo golpes o castigos dolorosos, abandonados y muriendo en las calles… Nadie desea que esto siga ocurriendo, pero pocos sabemos cómo evitarlo.</p>
<p>
Control de la reproducción:

Con más de 400.000 cachorros naciendo cada año en Santiago, cientos de miles de animales viviendo situaciones de total abandono en las calles y un sin número mantenido bajo condiciones de precariedad, es absolutamente inaceptable que permitas que tu perro o gato se reproduzca. Mientras esta situación no cambie, la esterilización se encumbra como la única alternativa éticamente razonable.
</p>
Ambiente Adecuado

Ejercicio:
Los perros y gatos necesitan tener actividad física. Por ningún motivo deben permanecer amarrados o en espacios estrechos. En el caso de los perros, el paseo debe ser diario y siempre bajo sujeción (correa, cadena o arnés). 

Refugio:
El refugio, se refiere al lugar en donde el perro o gato pueda permanecer confortable y, al mismo tiempo, restringido de salir fuera de la propiedad. Un perro no debiera, por ningún motivo, salir a la calle sin supervisión. La posibilidad de contraer enfermedades, sufrir accidentes o causar daños a otro perro o persona, nos indican que “dejar que el perro pasee” es lo contrario a la tenencia responsable.

Cómo ser realmente responsable en nuestra relación con perros y gatos.

1. No te apresures: piénsalo muy bien antes de decidir adoptar un perro o un gato.
2. Prefiere siempre adoptar animales de refugios o abandonados: los amigos no se compran.
3. Cumple con las indicaciones veterinarias: vacunaciones, desparasitaciones y alimentación.
4. Entrégale tiempo, paciencia y cariño: estos elementos son fundamentales para generar una buena convivencia.
5. Pasea a tu perro bajo supervisión: no conviertas la calle en el gran patio de tu perro.
6. No permitas que se reproduzca. Recuerda que por cada animal que nace, otro pierde la posibilidad de encontrar un hogar

</div>
</div>