<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "ram" %>
<% end %>

    <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Acerca de RAM</h1>
          </div>
    </div>

	<div class="content">
			<div class="welcome-section">
				<div class="container">
					<div class="col-md-6 welcome-grid text-center">
						<h3>¿QUÉ ES RAM?</h3>
						
						<p>Rescate Animal Maipú es un equipo de rescatistas preocupados por la tenencia responsable de mascotas. Trabajamos en conjunto por el rescate de aquellos animales en situación de abandono. </p>

	<p>Entre las actividades realizamos esterilizaciones, charlas sobre tenencia responsable y 	maltrato animal, rehabilitación y lo más importante lograr la ¡ADOPCIÓN! de aquellos más necesitados. Seguimos con la convicción de que de esta forma podremos cambiar el destino de aquellos seres abandonados, atropellados, maltratados, enfermos, violentados; y la de esta sociedad.</p>

					</div>
					<div class="col-md-6 images">
						<div class="img1">
							<%=image_tag("z6.jpg", class:"img-responsive", alt: "" )%>
						</div>
						<div class="img2">
						<%=image_tag("z7.jpg", class:"img-responsive", alt: "" )%>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="about-section text-center">
				<div class="container">
					<h2>¿CÓMO AYUDAR?</h2>
					<div class="col-md-6 about-section-grid text-left">
						<p>¡ADOPTA! Es nuestra misión fundamental tras finalizar nuestro proceso de rescate, Adoptando no solo nos ayudas a nosotros a continuar con este hermoso trabajo, si no que le da una nueva posibilidad de vida a un animal.

						</p>

						<p>Se hogar temporal. Si decides dar hogar temporal, puedes  </p>
					</div>
					<div class="col-md-6 about-section-grid text-left">

						<p>Hazte SOCIO RAM. Necesitamos en esta labor un fondo constante para el rescate, por ello solicitamos la inscripción de socios que aporten mensualmente con una cuota mínima fija para que este trabajo continúe y no decaiga.</p>
					</div>
					<div class="clearfix"></div>
					
					
				</div>
			</div>

			<div class="welcome-section text-center">
				<div class="container">
 				<h1>NUESTRO EQUIPO </h1>

 				<p>Revisa las siguientes imagenes para concer parte de nuestro equipo RAM y el trabajo que realizamos diariamente para mejorar la calidad de vida de nuestros hermanos pequeños.</p>
				</div>
			</div>
			
		</div>