<div class="container-fluid">
  <div class="row row-centered">
    <div class="panel panel-default col-xs-12 col-md-8 col-centered">
      <div class="row text-center">
        <h1 class="page-header">Publica un animal encontrado</h1>
        <h5> ¿Encontraste un animal?, ingresa los siguientes datos para ayudar a tu rescatado y así encontrar a su dueño.</h5>
			<%= render 'form' %>
      </div>
    </div>
  </div>
</div>			

<%= link_to 'Back', animals_path %>
