<%= form_for(@risk) do |f| %>
  <% if @risk.errors.any? %>
    <div class="alert alert-danger ">
      <h4>Se encontraron los siguientes errores:</h4>

      <ul>
      <% @risk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
