<div class="container-fluid">
  <div class="row row-centered">
    <div class="panel panel-default col-xs-12 col-md-8 col-centered">
      <div class="row text-center">
        <h1 class="page-header">Publica un animal en riesgo</h1>
        <h5>¡Mantén la calma! Por favor entréganos los siguientes datos para que otros puedan ayudarte.
        </h5>
			<%= render 'form' %>
      </div>
    </div>
  </div>
</div>			


<% content_for :js do %>
	<%= javascript_include_tag "jquery.backstretch"  %>
	<%= javascript_include_tag "gmaps" %>
	<script>
    	$(document).ready(function() { 
			if( $('#gmaps-canvas').length  ) {
    		gmaps_init();
    		autocomplete_init();
  			}; 
  		});
  	</script>
<% end %>