@media (min-width: 768px){
.dl-horizontal dt {
   width: auto;   
}
}


@media (min-width: 768px){
.dl-horizontal dd {
    margin-left: 150px;
}
}


hr {
  border:none;
  border-top:1px dotted rgba(0, 0, 0, 0.25);;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
  margin: 2px;
}



/* CAJA COMENTARIOS!! */



.detailBox {
    width:auto;
    border:1px solid #bbb;
/*    margin:50px;*/
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.comment-area {
    min-width: 100% !important;
    min-height: 100%;
    resize: none !important;
    height: 46px;
}

/*FIN CAJA DE COMENTARIOS */



/*SHARE-BUTTONS*/

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

/*FIN SHARE-BUTTONS*/

/*en perdido */
.col-md-4 {
    padding-top: 15px;
}

.form-horizontal.form-bottom{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;

}

.col-sm-2.control-label {
  padding-top: 0px;
}

#gmaps-canvas {
  margin-top: 15px;
}

.panel.panel-default.col-xs-12.col-md-8.col-centered
{
    margin-right: 0px;
}

.btn.btn-default{
  margin-top: 5px;
}

.a:hover, a:focus {
    color: #23527c;
    text-decoration: none; 
}