<p>Hola <%= @resource.name %>!</p>

<p>Recientemente alguien ha solicitado un enlace para cambiar tu contraseña en rescateanimalmaipu.cl.
Puedes realizarlo en el siguiente enlace:</p>
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú, por favor ignora este mensaje.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace y crees una nueva.</p>
